{% extends "base.html" %}
{% block title %}Select Cover Image{% endblock %}

{% block main %}

<h2>Select Cover Image</h2>

<div class="container">
<div class="row">
    <div class="container">
        <h3>Upload Own Image</h3>
    </div>
    <div class="col-md-12">
        <form action="{{ url_for('release_information.select_cover', ref=release.rid) }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="cover_file">
            <input type="submit" value="Upload!">
        </form>
    </div>
</div>
{% if release.is_external %}
<br><br>
<div class="row">
    <div class="container">
        <h3>Discogs Images</h3>
    </div>
    {% for image in release.get_images() %}
    <div class="col-md-4">
        {# {{ image.id }} #}
        <a href="{{ url_for('release_information.use_cover', release=release.rid, cover=image.iid) }}"><img style="width: 100%;" src="{{ image.full }}"/></a>
    </div>
    {% endfor %}
</div>
{% endif %}
</div>

{% endblock %}