<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    {% block head %}
    {% endblock %}

    <title>{% block title %}{% endblock %} - VinRec</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    {% if session['theme'] %}
        {% if session['theme'] == 'bright' %}
            {% set theme_name = 'united' %}
        {% else %}
            {% set theme_name = 'darkly' %}
        {% endif %}
    {% else %}
        {% set theme_name = 'darkly' %}
    {% endif %}
    {% set theme_path = 'css/themes/' ~ theme_name ~ '/bootstrap.min.css' %}
    <link href="{{ url_for('static', filename=theme_path) }}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img style="max-height: 2rem; margin-right: 0.5rem;" src="{{ url_for('static', filename='img/favicon.png') }}"> VinRec</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index.index') }}">Home</a>
          </li>
          {% block navbar_items %}
          {% endblock %}
        </ul>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">{% block heading %}{% endblock %}</h1>
      {% block main %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer bg-dark">
      <div class="container">
        <span class="text-muted">VinRec (C) 2019 Ole Lange - View <a href="https://github.com/olell/VinRec">Source</a> on Github</span>

        <span class="float-right">
            {% if session['theme'] == 'bright' %}
            <a href="{{ url_for('index.theme', value='dark') }}"> Dark </a>
            {% else %}
            <a href="{{ url_for('index.theme', value='bright') }}"> Bright </a>
            {% endif %}
        </span>
      </div>
    </footer>


    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    {% block scripts %}
    {% endblock %}

  </body>
</html>
