<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    {% block head %}
    {% endblock %}

    <title>{% block title %}{% endblock %} - VinRec</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">VinRec</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          {% block navbar_items %}
          {% endblock %}
          <li class="nav-item active">
            <a class="nav-link" target="_blank" href="{{ url_for('docs') }}">Docs</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">{% block heading %}{% endblock %}</h1>
      {% block main %}
      {% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">VinRec (C) 2019 Ole Lange - View <a href="https://github.com/olell/VinRec">Source</a> on Github</span>
      </div>
    </footer>

  </body>
</html>
