{% extends "base.html" %}
{% block title %}By Upload{% endblock %}
{% block heading %}By Upload{% endblock %}

{% block main %}


{% if not busy %}


<div class="row">
<div class="col-md-8">
<h2>{{ release.artists[0].name }} - {{ release.title }} ({{ release.released_year }})</h2>

<b>Styles:</b>
{% for style in release.styles %}{{ style }}, {% endfor %}
<br><br>
<h5>Upload Files:</h5>

<form id="upload_form" action="/by_upload" method="post" enctype="multipart/form-data">
    
    <div id="form-cover">
    Cover: <input type="file" name="cover"/>
    </div><br><br>

    <div id="sides">

    
    </div>

    <br>
    Discogs Reference: 
    <input name="discogs_reference" type="text" value="{{ discogs_ref }}" pattern="\d+">
    <br><br>
    Output Format:
    <select name="format">
        <option value="flac" selected>FLAC</option>
        <option value="wav">WAV (No metadata support)</option>
        <option value="mp3">MP3</option>
        <option value="mp4">MP4</option>
        <option value="opus">Opus</option>
    </select>
    <br><br>
    <input type="submit" value="Upload">
    <div id="prog"></div>
</form> 

</div>
<div class="col-md-4">
Images: (Click to select as cover)
{% for image in release.image_list %}
<img id="discogs_image_{{ loop.counter }}" src="{{ image.thumb }}" onclick="select_cover({{ image }}, 'discogs_image_{{ loop.counter }}');"></img><br>
{% endfor %}
</div>
</div>


<script>

function enhanceFormWithUploadProgress(form, progress) {
    var xhr = new XMLHttpRequest();
    if (!(xhr && ('upload' in xhr) && ('onprogress' in xhr.upload)) || !window.FormData) {
        return;
    }

    form.addEventListener('submit', function(e) {
        e.preventDefault();

        xhr.upload.addEventListener('loadstart', function(event) {
            progress.style.display = 'block';
        }, false);

        xhr.upload.addEventListener('progress', function(event) {
            var percent = (100 * event.loaded / event.total);
            progress.innerHTML = '<progress value="' + percent.toFixed(2) + '" max="100">' + percent.toFixed(2) + ' %</progress>';
        }, false);

        xhr.upload.addEventListener('load', function(event) {
            progress.innerHTML = 'Completed, waiting for response...';
        }, false);

        xhr.addEventListener('readystatechange', function(event) {
            if (event.target.readyState == 4 && event.target.responseText) {
                window.location.replace("{{ url_for('status') }}")
            } else {
                throw new Error('Error in the response.');
            }
        }, false);

        xhr.open(this.getAttribute('method'), this.getAttribute('action'), true);
        xhr.send(new FormData(this));

    });

};

enhanceFormWithUploadProgress(document.getElementById("upload_form"), document.getElementById("prog"));

num_sides = 0;
letters = ["A", "B", "C", "D", "E", "F", "G", "H"]

function add_side(){
    html = `<select name="side_` + num_sides.toString() + `">`
    var i = 0;
    letters.forEach(element => {
        var sel = "";
        if (i == num_sides){
            sel = " selected"
        }
        html += `<option value="` + element + `"` + sel + `>` + element + `-Side</option>`;
        i += 1;
    });
    html += `</select><input type="file" name="audio_` + num_sides.toString() + `"/><a href="#" class="button" onclick="add_side();">+</a><br>`;

    document.getElementById("sides").innerHTML += html;

    num_sides += 1;

}

add_side();

function select_cover(image, image_id){
    var full = image.full;
    document.getElementById("form-cover").innerHTML = `Cover URL: <input type="text" name="coverurl" value="` + full + `" readonly> <a href="#" onclick="use_cover_upload();">Use Upload instead</a>`
}
function use_cover_upload(){
    document.getElementById("form-cover").innerHTML = `Cover: <input type="file" name="cover"/>`;
}

</script>

{% else %}

<h1>VinRec is currently busy, look <a href="{{ url_for('status') }}">here</a> for a status</h1>

{% endif %}

{% endblock %}
