{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block main %}

<div class="container">

    <div class="row">

        {# Showing a step by step workflow on the left side #}
        <div class="col-md-6">
            <h2> Start Digitizing </h2>
            <br>
            <h4> Audio Files </h4>
            <div class="ml-3">
                Do you want to create <a class="font-weight-bold" href="{{ url_for('recorder.index') }}">new audio files by recording them</a><br>
                Or do you want to <a href="{{ url_for('upload.record') }}">upload existing audio files</a>
            </div>
            <br>
            <h4> Process your files </h4>
            <div class="ml-3">
                Do you want to <a class="font-weight-bold" href="{{ url_for('release_information.search_discogs') }}"> search your record in the discogs database </a><br>
                Or do you want to <a href="{{ url_for('release_information.create') }}">enter custom information about your record</a>
            </div>
        </div>

        {# Showing a list of finished records on the right side #}
        <div class="col-md-6">
            <h2> Stored Data </h2>
            <br>
            <h4> Finished Records </h4>
            {% if finished_records|length == 0 %}
                <div class="ml-3">
                -
                </div>
            {% else %}
            <ul>
            {% for record in finished_records %}
                <li> <a href="#"> {{ record.name }} </a></li> {# TODO: Link #}
            {% endfor %}
            </ul>
            {% endif %}
            <br>
            <h4> Stored Audio Files </h4>
            {% if unfinished_records|length == 0 %}
                <div class="ml-3">
                -
                </div>
            {% else %}
            <ul>
            {% for record in unfinished_records %}
                <li> {{ record }} (<a href="{{ url_for('recorder.delete', name=record) }}">Remove</a>) </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>

</div>

{% endblock %}
