{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block main %}

<div class="container">

    <div class="row">

        {# Showing a step by step workflow on the left side #}
        <div class="col-md-6">
            <h2> Workflow </h2>
            <br>
            Do you want to create <a href="#">new audio files by recording them</a><br>
            Or do yout want to <a href="#">upload existing audio files</a>
        </div>

        {# Showing a list of finished records on the right side #}
        <div class="col-md-6">
            <h2> Finished Records </h2>

            {#  TODO: List of finished records
            <ul>
            {% for record in finished_records %}
                <li> <a href="#"> {{ record.name }} </a></li>
            {% endfor %}
            </ul>
            #}

        </div>

    </div>

</div>

{% endblock %}