{% extends "base.html" %}
{% block head %}
{% if thread.status.STATE != "FINISHED" %}
<meta http-equiv="refresh" content="2">
{% endif %}
{% endblock %}
{% block title %}Status{% endblock %}
{% block heading %}Process Status{% endblock %}

{% block main %}
{% if thread %}
{% if thread.status %}

<h3>Status: {{ thread.status.STATE }}</h3>

{% if thread.status.STATE == "FINISHED" %}
<h2><a href="{{ url_for('download', file_name=thread.status.OUTPUT_NAME) }}">Download!</a></h2>
{% endif %}

{% if thread.status.steps %}
<pre>
{% for step in thread.status.steps %}{{ step }}
{% endfor %}
</pre>
{% endif %}

{% endif %}
{% endif %}

{% endblock %}